.kanbanTitle,
.kanbanSubtitle {
    display: block;
    border-bottom: 1px solid #eaeaea;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.kanbanTitle {
    font-size: 20px;
    background-color: lightblue;
}

.kanbanSubtitle,
.availableOccupancy,
.partialOccupancy,
.fullOccupancy {
    font-size: 15px;
    background-color: rgb(231, 231, 231);

    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
}

.kanbanContent {
    padding: 12px;
    background-color: #e8f6f3;
    border-radius: 4px;
    text-align: center;
}

.availableOccupancy {
    background-color: green;
}

.partialOccupancy {
    background-color: yellow;
}

.fullOccupancy {
    background-color: red;
}

.oe_kanban_global_click {
    position: relative;
    margin: 0 8px 8px 0;
    padding: 16px;
    width: 400px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}